body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h1 {
    background-color: #1E40AF;
    color: white;
    padding: 20px;
    margin: 0;
}

h2 {
    background-color: #FFD700;
    color: black;
    padding: 10px;
    margin: 0;
}

h3 {
    background-color: #ffffff;
    color: blue;
    padding: 15px;
    font-size: 50px;
    font-weight: bold;
    margin: auto;
}

button {
    background-color: #887BB0;
    color: white;
    padding: 10px 15px;
    border: none;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    display: block;
    margin: auto;
    font-weight: bold
}

.button-box {
    border: 2px solid black;
    margin: auto;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    background-color: #887BB0;
    border-color: blue;
}